.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: green;
    color: white;
    padding: 12px;
}

.header-menu .title {
    font-size: 16px;
    font-weight: bold; h
}

.header-menu .menu {
    font-size: 16px;
    display: flex;
    gap: 14px;
}

.header-menu .menu a {
    color: white;
    text-decoration: none;
}

.header-menu .menu .active {
    color: black;
}

.header-menu .button-auth button {
    background-color: red;
    color: white;
    border-radius: 16px;
    padding: 12px;
}

body {
    background-color: rgb(240, 240, 240);
}

.container {
    width: 80%;
    margin: auto;
}

.menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    margin-top: 14px;
}

.menu .card-menu {
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    border-radius: 14px;
    padding: 12px;
}

.tabel-pengguna {
    width: 100%;
    border-collapse: collapse;
    margin-top: 14px;
    background-color: white;
}

.tabel-pengguna th {
    background-color: green;
    color: white;
    padding: 10px;
    text-align: left;
}

.tabel-pengguna td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.tabel-pengguna tr:hover {
    background-color: #f2f2f2;
}

.container h2 {
    text-align: center;
    margin-bottom: 10px;
}

/* FORM (SATU GRUP SEDERHANA) */
.form-card {
    background-color: white;
    width: 50%;
    margin: 20px auto;
    padding: 12px;
}

.form-card label {
    display: block;
    margin-top: 10px;
}

.form-card input,
.form-card select {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* BUTTON */
.form-button {
    margin-top: 10px;
}

.btn-simpan {
    background-color: red;
    border-radius: 16px;
    color: white;
    padding: 10px;
    border: none;
}
